In [1]:
import pandas as pd
import numpy as np
import math
import random
import os

In [2]:
cwd = os.getcwd()
data_dir = cwd + '\Data'

In [4]:
dataset_names = []
datasets = []
for f in os.listdir(data_dir):
    if f.endswith(".csv"):
        dataset_names.append(f)
        datasets.append(pd.read_csv(data_dir + "\\" + f))

In [5]:
dataset_names

['AnnualTicketSales.csv',
 'HighestGrossers.csv',
 'PopularCreativeTypes.csv',
 'TopDistributors.csv',
 'TopGenres.csv',
 'TopGrossingRatings.csv',
 'TopGrossingSources.csv',
 'TopProductionMethods.csv',
 'WideReleasesCount.csv']

In [12]:
datasets[2]

,RANK,CREATIVE TYPES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1.0,Contemporary Fiction,"7,442","$96,203,727,036","$12,927,133",40.46%
1,2.0,Kids Fiction,564,"$32,035,539,746","$56,800,602",13.47%
2,3.0,Science Fiction,724,"$29,922,660,857","$41,329,642",12.59%
3,4.0,Fantasy,759,"$21,724,062,575","$28,621,953",9.14%
4,5.0,Super Hero,129,"$20,273,157,911","$157,156,263",8.53%
5,6.0,Historical Fiction,"1,487","$18,521,260,744","$12,455,454",7.79%
6,7.0,Dramatization,"1,175","$15,715,191,699","$13,374,631",6.61%
7,8.0,Factual,"2,467","$2,960,327,207","$1,199,970",1.25%
8,9.0,Multiple Creative Types,42,"$117,574,526","$2,799,393",0.05%
9,NaN,NaN,NaN,NaN,NaN,NaN